<%@ taglib prefix="cms" uri="http://hybris.com/tld/cmstags"%>
<%@ attribute name="item" type="com.hybris.demo.core.model.CMSYoutubeComponentModel" required="true" %>

<div class="col-md-4"><cms:component component="${item}" /></div>

